body{
	color:#FFF;
	font-family: sans-serif;
	font-size: 16px;
}

canvas {
   position: fixed;
   top: 0;
   left: 0;
}

#key{
	position: fixed;
	top:1em;
	right:1em;
	bottom:1em;
	z-index:100;
	margin:0;
	padding:0;
	overflow: auto;
	width:270px;
	z-index: 5;
}

#key li{
	margin:0 0 5px 0;
	padding:0;
	list-style-type: none;
	color:#FFF;
	font-family: sans-serif;
	font-size: 16px;
	width: 250px;
	overflow: hidden;
	padding-right:24px;
	box-sizing: border-box;
}

#key span.color{
	width:16px;
	height:16px;
	margin-left: 8px;
	float: right;
} 

#key span.text{
	float:left;
	margin-right:8px;
	width:160px;
	white-space: nowrap;
	text-overflow:ellipsis;
	cursor: pointer;;
}

#key span.text:hover,
#key span.text.active
{
	background-color:#FFF;
	color:#000;
}

#back{
	color:#FFF;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	position: fixed;
	left:2px;
	top:2px;
	cursor: pointer;
	z-index:10;
}

#back:hover{
	text-decoration: underline;
}

#info{
	display:-webkit-box;
	display: -mox-box;
	position: fixed;
	top:0;
	left:-5000px;
	right:auto;
	bottom:0;
	opacity:0;
	max-height: 100%;
	overflow: auto;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-mox-box-orient : horizontal;
	-moz-box-pack : horizontal;
	-moz-box-align : horizontal;
	z-index:6;
	-webkit-transition: opacity 0.5s linear;
}

#info.visible{
	left:0;
	right:0;
	opacity:1;
}

#info table{
	border:1px solid #000;
	border-collapse:collapse;
}

#info table th{
	background-color: #000;
	color:#fff;
	font-weight: bold;
	padding: 2px 1em;
	border:1px solid #fff;
}

#info table td{
	background-color: #fff;
	color:#000;
	padding: 4px 1em;
	border:1px solid #000;
	text-align: center;
}

#info table td.name{
	font-weight: bold;
	text-align: left;
}

#axis-links{
	position:fixed;
	bottom:0;
	left:0;
	right: 300px;
	display:-webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient : horizontal;
	z-index: 4;
}

#axis-links a{
	color:#000;
	background-color: #FFF;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	display:block;
	padding:2px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	text-align: center;
	box-sizing:border-box;
	border:1px solid #000;
}

#axis-links a:hover,
#axis-links a.active{
	background-color: #000;
	color: #fff;
	border-color: #FFF;
}

#axis-links a[data-axis="x"]:hover,
#axis-links a[data-axis="x"].active
{
	color:#ff0000;
}

#axis-links a[data-axis="y"]:hover,
#axis-links a[data-axis="y"].active
{
	color:#00ff00;
}

#axis-links a[data-axis="z"]:hover,
#axis-links a[data-axis="z"].active
{
	color:#0000ff;
}

